RewriteEngine On
RewriteBase /

# Direct rewrite rules
RewriteRule ^registrar/?$ register.php [L,QSA]
RewriteRule ^productos/?$ products.php [L,QSA]
RewriteRule ^productos/([0-9a-fA-F]{24})/?$ product.php?id=$1 [L,QSA]
RewriteRule ^eliminar/([0-9a-fA-F]{24})/?$ delete.php?id=$1 [L,QSA]

# If neither coincides, redirect to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L,QSA]